<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body background="{{url_for('static', filename='img/fundo2.png')}}">
    <div>
        <header class="header">
            <img src="{{url_for('static', filename='img/logo.png')}}" alt="Logo do Site">
            <nav>
               <ul class="menu">
                   <li><a href="index">Home</a></li>
                   <li><a href="quem-somos">Quem Somos</a></li>
                   <li><a href="contato">Contato</a></li>
                   <li><a href="/users">Users</a></li>
               </ul> 
            </nav>
        </header>
        <div>
            <h3>Entre em contato</h3><br>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
            </p>
            <hr>
            <form action="/contato  " method="POST">
                <p> Seu email: <br>
                <input type="email" name="email"></p>
                <p> Assunto: <br>
                <input type="text" name="assunto"></p>
                Descrição: <br>
                <textarea name="descricao" rows="2" cols="19"></textarea> <br>
                <button>
                    Enviar
                </button> <br>

                
                </form>
        </div>
        <h3 class="direito"> Todos os direitos reservados</h3>
    </div>
</body>
</html>